.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $daxline;

  border: 3px solid $secondary-color;

  transition: all 0.3s ease-out;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $secondary-color;
    color: $white;

    transition: all 0.3s ease-out;
  }
}
