.card {
  margin-top: 45px;
  margin-bottom: 100px;
  display: flex;
}

.card__column {
  &--img {
    width: 34%;
    position: relative;

    min-height: 516px;
    order: 1;

    & img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--text {
    width: 41%;
    order: 2;
  }

  &--link {
    order: 3;
    padding-left: 18px;
    width: 25%;
  }
}

.card__text-block {
  margin-bottom: 7px;

  & ul {
    @include list-none();
    margin-bottom: 22px;
    margin-top: 3px;
  }

  & li {
    font-family: $daxline;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: $black;
  }

  & p {
    margin: 0;
    margin-bottom: 21px;

    font-family: $daxline;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    color: $black;
  }
}

.card__list-caption {
  margin: 23px 0 17px 0;

  font-family: $daxline;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
}

.card__text-list {
  @include list-none();
}

.card__text-item {
  padding-left: 44px;
  position: relative;
  font-family: $daxline;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $black;

  &::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 7px;
    display: block;
    width: 7px;
    height: 7px;

    border-radius: 50%;
    background-color: $secondary-color;
  }
}

.card__link-caption {
  margin: 0;
  margin-bottom: 34px;

  font-family: $daxline;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: $black;
}

.card__link-list {
  @include list-none();
}

.card__link {
  @include hover();

  font-family: $daxline;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
  color: $secondary-color;
}

@media (max-width:700px) {
  .card {
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 15px;
  }

  .card__link-caption {
    margin-bottom: 15px;
  }

  .card__link-list {
    display: flex;
    flex-wrap: wrap;
  }

  .card__link-item {
    margin-right: 8px;
  }

  .card__column {
    &--img {
      width: 100%;
      order: 1;
      max-height: 300px;
      margin-bottom: 15px;
    }

    &--text {
      margin-top: 20px;
      width: 100%;
      order: 2;
    }

    &--link {
      margin-top: 30px;
      order: 3;
      padding-left: 0;
      width: 100%;
    }
  }

}
