.catalog {
  position: relative;
  margin-top: 32px;
  padding-bottom: 61px;
  display: flex;
  flex-wrap: wrap;
}

.catalog__block {
  flex-grow: 1;
}

.catalog__size-block {
  position: absolute;
  right: 0;
  bottom: 81px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100px;
  min-height: 100px;

  border: 1px solid $primary-color-min-card;
  box-shadow: 0px 0px 2px $black-hard-plus-opacity;
}

.catalog__size-block-item {
  font-family: $daxline;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: $black;
  text-align: center;
}

.catalog__first-column {
  width: 8.5%;
}

.catalog__first-row {
  display: flex;
  flex-wrap: wrap;
}

.catalog__row {
  display: flex;
  flex-wrap: wrap;
}

.catalog__first-row-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__first-row-item {
  font-family: $daxline;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: $black;

  &:first-child {
    font-size: 18px;
    font-weight: 700;
  }
}

.catalog__first-caption {
  margin: 0;

  padding-right: 5px;
  font-family: $daxline;
  font-size: 18px;
  font-weight: 700;
  color: $black;
}

.catalog__column {
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc((100% - 100px)/6);

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width:1250px) {
  .catalog__size-block {
    right: auto;
    left: 0;

    min-width: 65px;
    min-height: 65px;
  }

  .catalog__size-block-item {
    font-size: 14px;
  }

  .catalog__block {
    width: 90%;
    overflow-x: scroll;
  }

  .catalog__first-column {
    width: 10%;
  }

  .catalog__row {
    flex-wrap: nowrap;
  }

  .catalog__first-row {
    flex-wrap: nowrap;
  }

  .catalog__column {
    min-width: 167px;
  }
}

@media (max-width:800px) {
  .catalog__block {
    width: calc(100% - 76px);
  }

  .catalog__first-column {
    width: 76px;
  }
}

@media (max-width:600px) {
  .catalog__block {
    width: calc(100% - 76px);
  }

  .catalog__first-column {
    width: 76px;
  }
}
