.contact {
  margin-bottom: 44px;
}

.contact__row {
  margin-top: 65px;

  display: flex;
  flex-wrap: wrap;
}

.contact__column {
  margin-right: auto;
  margin-bottom: 63px;

  &:first-child {
    margin-right: 63px;
  }
}

.contact__caption {
  margin: 0;
  margin-bottom: 20px;

  font-family: $daxline;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: $black;
}

.contact__adress {
  margin: 0;

  font-family: $daxline;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: $black;
}

.contact__mail-link {
  @include hover();

  font-family: $daxline;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-decoration: none;
  color: $secondary-color;
}

@media (max-width:900px) {
  .contact__column {
    margin-bottom: 30px;
  }
}
