.event-page {
  padding-top: 39px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.event-page__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;
  max-width: 100%;
  width: calc((100% - 30px)/2);

  &:nth-child(2n-1) {
    margin-right: 30px;
  }
}

.event-page__link {
  display: block;
  width: 100%;
  height: 100%;

  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;

    & .event__text-caption {
      text-decoration: underline;
      color: $secondary-color;
    }
  }
}

@media(max-width: 900px) {
  .event-page {
    display: block;
  }

  .event-page__item {
    width: 100%;

    &:nth-child(2n-1) {
      margin-right: 0;
    }
  }
}
