.event {
  position: relative;
}

.event__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.event__text-block {
  min-height: 214px;
  margin-left: auto;
  padding: 20px 0 0 25px;
  position: relative;
  z-index: 5;
  max-width: 188px;

  background-color: $white-light-opacity;

  &--page {
    max-width: 213px;
    min-height: 233px;
  }
}

.event__time {
  display: block;
  margin-bottom: 6px;
  line-height: 1;
  color: $white-middle-opacity;
}

.event__text-caption {
  margin: 0;
  margin-bottom: 11px;

  font-family: $daxline;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: $black;
}

.event__text {
  margin: 0;

  font-family: $daxline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: $black;
}

@media(max-width: 1300px) {
  .event {
    overflow: hidden;
  }

  .event__img {
    height: 100%;
    width: auto;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(max-width: 900px) {
  .event__text-caption,
  .event__text {
    max-width: 280px;
  }

  .event__text-block {
    margin: 0 auto;
    min-width: 688px;

    &--page {
      max-width: 100%;
      background-color: $black-hard-plus-opacity;
    }
  }

  .event__img {
    display: none;
  }

  .event__time {
    color: $black;
  }
}
