.footer {
  padding-top: 67px;
  padding-bottom: 64px;
  background-color: $accent-color;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.footer__column {
  margin-left: auto;

  &:first-child {
    margin-left: 0;
  }
}

.footer__logo-link {
  @include hover;
}

.footer__text {
  margin-bottom: 2px;
  font-family: $daxline;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.25;
  color: $white;
  max-width: 170px;
}

.footer__caption {
  margin: 0;
  margin-bottom: 30px;

  font-family: $daxline;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $white;
}

.footer__list {
  @include list-none;
}

.footer__link {
  @include hover;
  font-family: $daxline;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.65;
  text-decoration: none;
  color: $white;
  display: block;
  &--uppercase {
    text-transform: uppercase;
  }
}

.footer__phone-list {
  margin-bottom: 7px;
  a {
    color: $white;
    line-height: 1;
  }
}

.footer__btn {
  padding: 0;
  margin-left: auto;
  margin-bottom: 32px;

  width: 188px;
    height: 47px;

  background-color: transparent;

  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  color: $white;
}

.footer__social-list {
  margin-left: auto;
  justify-content: flex-end;
}

.footer__img-block-logo-root {
  position: relative;
}

.footer__logo-root {
  position: absolute;
  top: 0;
  left: -10px;
}

@media(max-width: 1050px) {
  .footer__column {
    display: none;
    &--mobile {
      display: block;
    }
  }

  .footer__logo-root {
    display: block;
  }
}

@media(max-width: 404px) {
  .footer__row {
    justify-content: center;
  }

  .footer__column {
    margin: 0;
  }

  .footer__logo-link {
    display: block;
    text-align: center;
  }

  .footer__text {
    margin-bottom: 8px;
    min-width: none;
    text-align: center;
  }

  .footer__logo-root {
    position: static;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .footer__btn {
    margin-bottom: 19px;
  }

  .footer__social-list {
    justify-content: center;
  }
}
