.form__row {
  display: flex;
  flex-wrap: wrap;
}

.form__column {
  &:first-child {
    margin-right: 32px;
  }

  &--profile {
    margin-right: 28px;
  }
}

.form__label {
  font-family: $daxline;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: $black;

  &--checkbox {
    position: relative;
    padding-left: 50px;

    font-size: 16px;
  }
}

.form__input {
  appearance: none;
  margin-top: 11px;
  margin-bottom: 26px;
  padding: 7px;
  display: block;
  width: 406px;
  max-width: 100%;
  height: 46px;

  font-family: $daxline;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: $black;

  border: 1px solid transparent;
  background-color: $primary-color-dark-plus;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $black;
  }

  &--invalid {
    border: 1px solid $secondary-color;
  }
}

.form__textarea {
  appearance: none;
  margin-top: 11px;
  margin-bottom: 26px;
  padding: 7px;
  width: 406px;
  max-width: 100%;
  height: 156px;
  display: block;

  font-family: $daxline;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: $black;

  border: 1px solid transparent;
  background-color: $primary-color-dark-plus;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $black;
  }

  &--invalid {
    border: 1px solid $secondary-color;
  }
}

.form__checkbox-input {
  appearance: none;

  &:checked + .form__checkbox {
    background-image: url('../img/icon-check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover + .form__checkbox,
  &:active + .form__checkbox,
  &:focus + .form__checkbox {
    border: 1px solid $black;
  }
}
/*невалидный чекбокс*/

.form__input--invalid + .form__checkbox {
  border: 1px solid $secondary-color;
}

.form__checkbox {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 2px;
  top: -5px;
  // transform: translateY(-50%);

  background-color: $primary-color-dark-plus;
  background-image: none;
  border: 1px solid transparent;
}

.form__link {
  @include hover();

  text-decoration: none;
  color: $secondary-color;
}

.form__btn {
  margin-top: 30px;
  width: 188px;
  height: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  color: $black;
  background-color: transparent;

  &--profile {
    margin-top: 16px;
  }
}

@media (max-width:900px) {
  .form__row {
    display: block;
  }

  .form__column {
    &:first-child {
      margin-right: 0;
    }

    &--profile {
      margin-right: 0;
    }
  }

  .form__input {
    width: 100%;
  }

  .form__textarea {
    width: 100%;
  }

  .form__btn {
    width: 100%;
  }

  .form__link {
    display: inline-block;
  }
}
