.header-nav {
  background-color: $red;
}

.header-nav__list {
  @include list-none;
  display: flex;
  flex-wrap: wrap;
}

.header-nav__item {
  position: relative;
  // width: calc(100%/6);
  &:first-child,
  &:nth-child(7n) {
    width: 13%;

    & span {
      margin-left: 0;
    }

    & .header-nav__link {
      justify-content: flex-start;
      padding-left: 20px;
    }
  }

  &:nth-child(2n) {
    width: 16.1%;
  }

  &:nth-child(3n) {
    width: 24.7%;
  }

  &:nth-child(4n) {
    width: 16.5%;
  }

  &:nth-child(5n) {
    width: 17.6%;
  }

  &:nth-child(6n) {
    // flex-grow: 1;
    width: 12.1%;

    & .header-nav__link {
      justify-content: flex-end;
      padding-right: 20px;
      padding-left: 20px;
    }

    & span {
      margin-left: 0;
    }
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $secondary-color-middle;

    & .header-nav__link {
      color: $white-opacity;
    }
  }

  &:hover .header-nav__active-list,
  &:focus .header-nav__active-list,
  &:active .header-nav__active-list {
    display: block;
  }
}

.header-nav__link {
  padding: 25px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  text-align: center;

  font-family: $daxline;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $secondary-color-light;

  & svg {
    display: block;
    margin-left: 11px;
    width: 12px;
    height: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
  }
}

.header-nav__caption {
  color: $white;
  margin-left: 11px;
}

.header-nav__active-list {
  @include list-none;
  padding-bottom: 14px;
  z-index: 10;
  display: none;
  position: absolute;
  top: 94%;
  left: 0;
  width: 100%;
  background-color: $secondary-color-middle;
}

.header-nav__active-link {
  display: block;
  padding-left: 34px;
  padding-right: 10px;
  @include hover;
  font-family: $daxline;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  text-decoration: none;

  color: $white;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $secondary-color;
  }
}

@media (max-width: 1000px) {
  .header-nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    transition: all 0.2s ease-in;
    transform-origin: 0 0;

    opacity: 1;

    &--inactive {
      transform: scaleY(0);
      transform-origin: 0 0;
      opacity: 0;
      transition: all 0.2s ease-in;
    }
  }

  .header-nav__list {
    display: block;
  }

  .header-nav__item {
    position: relative;
    width: 100%;
    border-top: 1px solid $primary-color;

    &:first-child {
      border-top: none;
    }

    &:nth-child(n) {
      width: 100%;

      & .header-nav__link {
        justify-content: center;

        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .header-nav__link {
    font-size: 18px;
  }

  .header-nav__active-link {
    text-align: center;
    padding: 0;
  }
}
