.header-middle__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
  padding-bottom: 25px;
}

.header-middle__logo-link {
  @include hover;

  display: block;

  & img {
    width: 171px;
    height: 51px;
  }
}

.header-middle__text {
  margin: 0;
  margin-left: 51px;
  width: 290px;

  letter-spacing: 0.5px;
  font-family: $daxline;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: $primary-color-middle-plus;

  & img {
    width: 60px;
    height: auto;
    vertical-align: middle;
  }
}

.header-middle__connection-block {
  margin-left: 33px;
  display: flex;
  flex-wrap: wrap;
}

.header-middle__connection-btn {
  display: none;
}

.header-middle__btn {
  margin-top: 5px;
  padding: 0;
  width: 188px;
  height: 50px;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.2;
  color: $accent-color;

  background-color: transparent;
}

.header-middle__phone-list {
  margin-left: 25px;
}

.header-middle__link {
  @include hover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: auto;

  font-size: 16px;
  font-family: $roboto;
  font-weight: 400;
  text-decoration: none;
  color: $secondary-color;

  & svg {
    margin-right: 18px;
    fill: $secondary-color;
  }
}

.header-middle__menu-btn {
  display: none;
}

@media (max-width: 1200px) {
  .header-middle__text {
    margin-left: auto;
    width: 180px;
    text-align: center;
  }

  .header-middle__connection-block {
    margin-left: auto;
  }
}

@media (max-width: 1000px) {
  .header-middle__logo-link {
    display: flex;
    align-items: center;

    & img {
      width: 110px;
      height: auto;
    }
  }

  .header-middle__menu-btn {
    @include hover;

    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;

    transform: scale(0.93);
  }

  .header-middle__text {
    display: none;
  }

  .header-middle__link {
    margin-left: 10px;
    & span {
      display: none;
    }
    & svg {
      width: 28px;
      height: 28px;
      margin-right: 0;
    }
  }

  .header-middle__connection-block {
    margin-left: 0;
    padding: 10px 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 0;

    background-color: $white;
    border-top: 1px solid $black-hard-opacity;

    transition: all 0.2s ease-in;
    transform-origin: 0 0;

    opacity: 1;

    &--inactive {
      transform: scaleY(0);
      transform-origin: 0 0;
      opacity: 0;
      transition: all 0.2s ease-in;
    }
  }

  .header-middle__connection-btn {
    @include hover;
    margin-left: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    background-color: transparent;

    & svg {
      fill: $secondary-color;
    }
  }

  .header-middle__phone-list {
    padding: 0;
    margin: 0 12px;
  }

  .header-middle__btn {
    margin: 12px;
  }
}

// @media (max-width: 450px) {
//   .header-middle__connection-block {
//     display: block;
//   }
// }
