.main--profile .h1 {
  margin-top: 16px;
}

.main--orders .h1 {
  margin-top: 16px;
}

.main__caption,
.h1 {
  position: relative;
  margin: 0;
  margin-top: 11px;

  font-family: $daxline;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.4;

  color: $black;

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 2px;

    width: 93px;
    height: 3px;

    background-color: $secondary-color;
  }
}

.main__breadcrumbs {
  margin: 0;
  margin-top: 32px;
}

.main__page-nav {
  margin: 0;
  margin-top: 59px;
}

.main__about-block {
  padding-top: 53px;
  padding-bottom: 97px;
}

.main__about-page {
  padding-top: 51px;
  padding-bottom: 144px;
}

@media (max-width:1400px) {
  .main__about-block {
    padding-bottom: 33px;
  }
}
