.map {
  width: 100%;
  height: 455px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
