.min-card {
  padding: 9.9% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  height: 100%;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;

    & .min-card__btn-block {
      padding: 13px 16px 22px;

      background-color: $secondary-color;
    }

    & .min-card__btn {
      color: $white;

      border: 3px solid $white;

      svg {
        fill: $white;
      }
    }

    & .min-card__caption {
      color: $secondary-color;
    }
  }

  border: 1px solid $primary-color-min-card;
  box-shadow: 0px 2px 2px $black-hard-plus-opacity;
}

.min-card__row {
  padding: 0 13px 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.min-card__img-block img {
  display: block;
}

.min-card__text-block {
  margin-left: auto;
}

.min-card__caption {
  margin: 0;
  margin-top: 5px;
  min-width: 79px;
  font-family: $daxline;
  font-size: 22px;
  font-weight: 500;
  color: $black;
}

.min-card__list {
  list-style: none;
  margin: 0;
  margin-top: 32px;
  margin-right: 20px;
  padding: 0;
}

.min-card__item {
  font-family: $daxline;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  color: $black;
  text-align: center;
}

.min-card__btn-block {
  padding: 13px 25px 22px;
  background-color: transparent;
}

.min-card__btn {
  position: relative;
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41px;

  font-family: $daxline;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: $black;

  border: 3px solid $secondary-color;

  & svg {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%) scale(0.55);
    fill: $secondary-color;
  }
}
