.new-slider {
  padding-top: 58px;
  padding-bottom: 85px;
  position: relative;
  background-color: $primary-color-light-plus;

  & .swiper-pagination-bullets {
    margin-left: 51px;
  }
}

.new-slider__caption-row {
  margin: 0 auto;
  min-height: 34px;
  margin-bottom: 50px;
  width: 453px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-slider__tab {
  margin: 0;
  padding: 0;

  font-family: $daxline;
  font-weight: 400;

  font-size: 28px;
  line-height: 1;
  color: $secondary-color;
  border: none;
  border-bottom: 3px dotted $secondary-color;

  background-color: transparent;
  outline: none;

  &--active {
    font-size: 38px;
    line-height: 1.2;
    color: $accent-color-dark;
    border: none;
    transition: all 0.2s ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    opacity: 0.8;
  }
}

.new-slider__container {
  position: relative;
  z-index: 5;
}

.new-slider__wrapper {
  @include list-none;
}

.new-slider__btn-block {
  z-index: 1;
  top: 46.6%;
  width: calc(118.8% - 40px);
}

.new-slider__pagination-row {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.new-slider__tab-block {
  position: relative;
}

@media(max-width: 1600px) {
  .new-slider__btn-block {
    width: 107.6%;
  }
}

@media(max-width: 1400px) {
  .new-slider {

    & .swiper-pagination-bullets {
      margin-left: 0;
    }
  }

  .new-slider__btn-block {
    display: none;
  }
}

@media(max-width: 1000px) {
  .new-slider__btn-block {
    display: none;
  }

  .new-slider__tab {
    font-size: 24px;

    &--active {
      font-size: 29px;
    }
  }
}
