.news-block {
  padding-top: 54px;
  background-color: $primary-color-light;

  & .swiper-pagination-bullets {
    display: none;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.news-block__caption {
  margin: 0;
  margin-bottom: 47px;
}

.news-block__btn-block {
  top: 45.9%;
}

@media(max-width: 1600px) {
  .news-block__btn-block {
    width: 103.6%;
  }
}

@media(max-width: 1400px) {
  .news-block {
    padding-bottom: 60px;

    & .swiper-pagination-bullets {
      display: block;
    }
  }
  .news-block__btn-block {
    display: none;
  }
}

@media(max-width: 900px) {
  .news-block {
    padding-top: 50px;
  }
}
