.orders {
  margin-top: 23px;
  margin-bottom: 78px;
}

.orders__table {
  width: 100%;
}

.orders__row {
  &:nth-child(2n) td {
    background-color: $accent-color-ultra-middle;
  }

  &:nth-child(2n-1) td {
    background-color: $accent-color-light-plus;
  }
}

.orders__column {
  border-bottom: 7px solid $white;
  border-right: 3px solid $white;
  padding: 14px 24px;

  font-family: $daxline;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  vertical-align: top;

  &:first-child {
    font-weight: 700;
    width: 18%;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &:last-child {
    border-right: none;
    width: 17.3%;
  }

  &--two-column {
    width: 16%;
  }
}

.orders__caption {
  padding: 11px 26px;
  font-family: $daxline;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: $white;
  text-align: left;

  background-color: $secondary-color;
  border-bottom: 7px solid $white;
  border-right: 3px solid $white;

  &:last-child {
    border-right: none;
    width: 17.3%;
  }

  &--two-column {
    width: 16%;
  }

  &:first-child {
    width: 18%;
  }
}

@media (max-width: 900px) {
  .orders {
    overflow-x: scroll;
    margin-bottom: 45px;
  }

  .orders__table {
    width: 860px;
  }

  .orders__column {
    padding: 10px;
  }

  .orders__caption {
    padding: 10px;
  }
}
