.phone-list {
  @include list-none;
}

.phone-list__link {
  @include hover;

  font-size: 22px;
  font-family: $roboto;
  font-weight: 700;
  text-decoration: none;
  color: $accent-color;
  line-height: 1.35;

  &--catalog {
    line-height: 1;
  }
}
