.slider-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
  top: 70.6%;
  left: 50%;
  width: 112.5%;
  transform: translate(-50% , -50%);
}

.slider-btn__btn {
  @include hover;

  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  &:active svg,
  &:focus svg,
  &:hover svg {
    fill: $black;
  }

  & svg {
    fill: $red;
    transform: scale(1.3);
  }

  &:last-child svg {
    transform: rotate(180deg) scale(1.3);
  }
}

