$desktop: 1280px;
$tablet: 767px;

$white: #ffffff;
$white-opacity: rgba(256, 256, 256, 0.6);
$white-middle-opacity: rgba(256, 256, 256, 0.7);
$white-light-opacity: rgba(256, 256, 256, 0.9);
$black: #000000;
$black-hard-opacity: rgba(0, 0, 0, 0.2);
$black-hard-plus-opacity: rgba(0, 0, 0, 0.15);
$black-light-opacity: rgba(0, 0, 0, 0.7);

$text-color: #212327;

$primary-color: #F0F0F0;
$primary-color-light: #DFE4EB;
$primary-color-light-plus: #F0F0F0;
$primary-color-dark: #9293A6;
$primary-color-middle: #ECECEC;
$primary-color-middle-plus: #A6A7B1;/*hfghfh*/
$primary-color-dark-plus: #F4F4F4;
$primary-color-min-card: #F3F3F3;

$red: #FF0000;
$secondary-color: #E33439;
$secondary-color-light: #FAACAE;
$secondary-color-middle: #C22A2E;

$accent-color-dark: #0D0D14;
$accent-color: #323232;
$accent-color-middle: #2A3236;
$accent-color-ultra-middle: #EEF0F4;
$accent-color-light-plus: #F9FAFA;

$rootform: #9EBF56;
$compressive-ms: #E2C058;
$compressive-m-mp: #C0568A;
$compressive-s: #B0B0B0;
$basal: #6FBBCF;

$accent-color-middle: #b6bdcc;
$accent-color-light: #f8f9fc;
$accent-color-ultra-light: #e8e8e8;


$daxline: "DaxlinePro", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
